.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px; 
  padding: 40px 0;
  user-select: none;
  width: max-content; 
  margin: 0 auto; 
}

.pagination button {
  border: none;
  background: none;
  cursor: pointer;
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
}

.page-number {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  font-size: 0.95rem;
  font-weight: 700;         
  background-color:  #8e8e8fa9 !important;
  color: #4b5563 !important; 
  opacity: 1 !important;    
  display: inline-flex !important;
}

.page-number.active {
  width: 46px;  
  height: 46px; 
  background-color: #ffffff;
  color: black !important; 
  font-size: 1.1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  opacity: 1 !important;
  display: inline-flex !important;
}

.nav-arrow {
  color: black; 
  font-size: 2rem;
  font-weight: bold;
  margin-left: 8px;
  display: inline-flex;
}

.nav-arrow:hover {
  color: #999999;
}
